// **************************************************
// **************************************************
// About
// **************************************************
// **************************************************

.about-content {
    margin     : auto;
    max-width  : 640px;
    width      : 80%;
    align-self : center;

    @include breakpoint(xs){
        min-width : 270px;
        padding: 20px 0;
    }
}

.site-title {
  text-align: center;
}

.about-header {
    color          : $mainLink;
    text-transform : uppercase;
    font-weight    : bold;
    // font-size      : 6rem;
    font-size      : 6rem;
    font-family    : $mainHeader;
    transition     : font-size 0.3s ease;

    @include breakpoint(md) {
        font-size : 4rem;
    }

    @include breakpoint(sm) {
        font-size : 2.25rem;
    }
}

.about-subheader {
    margin-top     : 1.5rem;
    text-transform : uppercase;
    color          : $mainLink;
    font-family    : $mainHeader;
    font-size      : 1.5rem;

    @include breakpoint(sm){
      // font-size: 1.35rem;
    }
}


.about-message, .about-links, .about-interests {
    padding-top : 0.75rem;
    line-height : 1.3;
    transition  : font-size 0.3s ease;
}

.about-links {
  padding-top: 1.75rem;
}

.about-me {
  font-size: 110%;
  text-transform: uppercase;
}

.about-message {
    color: $grey;
    font-size   : 1rem;

    &.main {
      font-size   : 1.3rem;
    }

    @include breakpoint(md) {
        &.main {
          font-size   : 1.2rem;
        }
    }

    @include breakpoint(sm){
        &.main {
          font-size   : 1rem;
        }
        font-size : 0.9rem;
        padding-top: 0.25rem;
    }
}

.about-message-link {
  position: relative;
  transition : color 0.25s ease;
  z-index: 1;
  color : $grey;

  &:after {
      content: '';
      position: absolute;
      bottom: 10%;
      left: 0;
      height: 4px;
      width: 100%;
      z-index: 0;
      background-color: rgba( #000,0);
      transition: background-color 0.25s;
  }

  .no-touch &:hover {
      color : $mainLink;

      &:after {
        background-color: rgba( #000,0.25);
      }
  }
}

.about-interests {
    color       : $grey;

    @include breakpoint(sm) {
        font-size : 0.9rem;
    }
}

.about-item {
    display       : inline;
    padding-right : 0.25em;
    color         : $grey;

    @include breakpoint(xs) {
        display   : block;
        font-size : 0.9rem;
    }
}

.about-contact {
    display       : block;
    margin-bottom : 2px;
    font-size     : 1.1rem;

    @include breakpoint(xs) {
      font-size: 0.9rem;
      margin-bottom: 6px;
    }
}
