// **************************************************
// **************************************************
// About
// **************************************************
// **************************************************

#about {
    display         : flex;
    margin-top      : -48px;
    justify-content : center;
    align-content   : center;

    @include breakpoint(xs){
        margin-top : 0;
    }
}

.about-content {
    margin     : auto;
    max-width  : 640px;
    width      : 80%;
    align-self : center;

    @include breakpoint(xs){
        min-width : 270px;
    }
}

.about-header {
    color          : $mainLink;
    text-transform : uppercase;
    font-weight    : bold;
    font-size      : 6rem;
    font-family    : $mainHeader;
    transition     : font-size 0.3s ease;

    @include breakpoint(md){
        font-size : 4.5rem;
    }

    @include breakpoint(sm){
        font-size : 2.5rem;
    }
}

.about-message, .about-links, .about-interests {
    padding-top : 0.75rem;
    line-height : 1.3;
    transition  : font-size 0.3s ease;
}

.about-message {
    color       : $mainLink;
    font-size   : 1.75rem;
    font-family : $mainHeader;

    @include breakpoint(sm){
        font-size : 1.1rem;
    }
}

.about-interests {
    color       : $grey;

    @include breakpoint(sm){
        font-size : 0.9rem;
    }
}

.about-item {
    display       : inline;
    padding-right : 0.25em;
    color         : $grey;

    @include breakpoint(xs){
        display   : block;
        font-size : 0.9rem;
    }
}