// **************************************************
// Colors
// **************************************************

// Choose one of these to be your mainTheme color
$green  : hsl(151, 65%, 60%);
$blue   : hsl(216, 65%, 60%); // #850D1B
$orange : hsl(6, 90%, 70%);
$purple : hsl(260, 38%, 56%);

// mine
$deepRed      : #611806;
$sublimeBlack : #141414;
$thisBlue     : #7587a6;
$sublBrown    : #9b7040;
$sublYellow   : #dad085;
$sublLtBrown  : #bfa869;
$sublGreen    : #8f9d6a;
$sublRed      : #9a614b;

$mainLink : #e54c2f;
// $mainLink : #c72d32;
$bkgColor : #fafafa;
$cardBkg  : #f0f0f0;

$offBlack : hsl(10, 1%, 22%);
$grey     : lighten($offBlack, 45);

$mainTheme      : $sublimeBlack;
$baseTextColor  : $offBlack;
$lightTextColor : $grey;

$lnksyColTop        : #36c4ac;
$lnksyColBottom     : #00c1ec;
$ttuiColTop         : #00a3d6;
$ttuiColBottom      : #3447d4;
$hmieColTop         : #fbc902;
$hmieColBottom      : #2b5114;
$boatColTop         : #72eca5;
$boatColBottom      : #aa9958;
$stripeColTop       : #90c1a5;
$stripeColBottom    : #ece96a;
$wpfpColTop         : #a9988e;
$wpfpColBottom      : #d17d1d;
$halloweenColTop    : #eb9448;
$halloweenColBottom : #dd4247;
$pppColTop          : #ec2c81;
$pppColBottom       : #f7e62d;
$uhdColTop          : #8d9365;
$uhdColBottom       : #a99c70;
$retroColTop        : #c0db8e;
$retroColBottom     : #a7c5e9;
$powerColTop        : #9788af;
$powerColBottom     : #51a5e5;
$folioColTop        : #7292cb;
$folioColBottom     : #ff9933;
$aartColTop         : #aac56d;
$aartColBottom      : #70b3e0;
$kenColTop          : #3fbfff;
$kenColBottom       : #f2c4b4;
$cpiColTop          : #95a6ba;
$cpiColBottom       : #c29f83;
$dwtfColTop         : #022844;
$dwtfColBottom      : #e33a1e;
$paintonColTop      : #5099b3;
$paintonColBottom   : #947f70;

// **************************************************
// Fonts
// **************************************************

$mainHeader: "din-condensed-web", sans-serif;
$mainBody: "soleil",sans-serif;
