// **************************************************
// **************************************************
// Home
// **************************************************
// **************************************************

#home {
    // display                    : flex;
    background                 : $mainLink;
    overflow: hidden;

    @include breakpoint(xs){
        margin-top : 0;
    }
}

.home-content {
    position: relative;
    margin     : auto;
    max-width  : 600px;
    width      : 80%;
    align-self : center;
    color          : #fff;
    text-align     : center;
    text-transform : uppercase;
    letter-spacing : .02rem;
    font-family    : $mainHeader;
    line-height    : 1.2;
    transition     : font-size 0.25s ease;

    span {
      display: inline-block;
    }

    @include breakpoint(xs){
        width : 280px;
        // line-height    : 2.75rem;
    }
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: lime;
  margin: -2px 0 0 -2px;
}

// .home-header {
//     font-size  : 8rem;
//     transition : font-size 0.25s ease;

//     @include breakpoint(xs){
//         font-size : 4.5rem;
//     }

//     em {
//         color       : $mainLink;
//         font-weight : bold;
//     }
// }

.home-header {
    font-size: 15rem;
    line-height: 0.9;

    @include breakpoint(xs){
      font-size: 7.5rem;
    }
}

.home-subheader {
    font-size      : 8rem;

    @include breakpoint(xs){
        font-size      : 4.5em;
    }
}

.home-copy {
    font-size      : 3rem;

    &.copy-projects {
      font-size: 2.47rem;
    }

    &.copy-about {
      font-size: 2.65rem;
    }

    @include breakpoint(xs){
        font-size      : 1rem;

        &.copy-projects {
          font-size: 1.4rem;
        }

        &.copy-about {
          font-size: 1.4rem;
        }
    }
}

.home-link {
    position: relative;
    color      : #fff;
    transition : color 0.25s ease;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 18%;
        left: 0;
        height: 6px;
        width: 100%;
        background-color: rgba( darkred,0.35);
        z-index: 0;
        transition: background-color 0.25s;
    }

    .no-touch &:hover {
        color : #000;

        &:after {
            background-color: rgba( darkred,0);
        }
    }
}


.home-items {
    @include breakpoint(xs){
        padding-top : 0.5rem;
    }
}

.home-item {
    display : inline-block;
    padding : 2rem 0.25rem 0.25rem;

    @include breakpoint(xs){
        padding   : 0.5rem;
        font-size : 0.9rem;
    }

}
