// **************************************************
// **************************************************
// Home
// **************************************************
// **************************************************

#home {
    display                    : flex;
    background                 : $mainLink;
    justify-content            : center;
    align-content              : center;

    @include breakpoint(xs){
        margin-top : 0;
    }
}

.home-content {
    margin     : auto;
    max-width  : 579px;
    width      : 80%;
    align-self : center;

    @include breakpoint(xs){
        width : 270px;
    }
}

// .home-header {
//     font-size  : 8rem;
//     transition : font-size 0.25s ease;

//     @include breakpoint(xs){
//         font-size : 4.5rem;
//     }

//     em {
//         color       : $mainLink;
//         font-weight : bold;
//     }
// }

.home-subheader {
    color          : #fff;
    text-align     : center;
    text-transform : uppercase;
    letter-spacing : .02rem;
    font-size      : 4.65rem;
    font-family    : $mainHeader;
    line-height    : 5.5rem;
    transition     : font-size 0.25s ease;

    @include breakpoint(xs){
        font-size      : 2.5em;
        line-height    : 2.75rem;
    }
}

.home-link {
    color      : #fff;
    transition : color 0.25s ease;

    .no-touch &:hover {
        color : #000;
    }
}


.home-items {
    @include breakpoint(xs){
        padding-top : 0.5rem;
    }
}

.home-item {
    display : inline-block;
    padding : 2rem 0.25rem 0.25rem;

    @include breakpoint(xs){
        padding   : 0.5rem;
        font-size : 0.9rem;
    }

}
