// **************************************************
// **************************************************
// Portfolio Pieces
// **************************************************
// **************************************************

// .folio-header {
//     width : 100%;

//     h1 {
//         margin      : 0 auto;
//         padding     : 1rem 0;
//         text-align  : center;
//         font-weight : bold;
//         font-size   : 2rem;
//     }
// }

.portfolio-container {
    position    : relative;
    padding-top : 3rem;
    width       : 100%;
}

#portfolio-items {
    width : 100%;
}

.siteContainer {
    display : inline-flex;
    margin  : 0 auto 3rem;
    width   : 100%;
    height  : 450px;
}

// ********************
//  Flipper
// ********************

// entire container, keeps perspective
.flip-container {
    perspective : 1000;

    // flip the pane when hovered
    .no-touch &:hover .flipper, .touch .active & .flipper {
        transform : rotateY(180deg);
    }
}

// flip speed goes here
.flipper {
    position        : relative;
    transition      : 0.6s;
    transform-style : preserve-3d;
}

// hide back of pane during swap
.front, .back {
    @include position-absolute($top:0, $left:0);
    @include size(100%, 440px);

    overflow            : hidden;
    max-width           : 675px;
    backface-visibility : hidden;
}

// front pane, placed above back
.front {
    z-index  : 2;
    overflow : hidden;
}

// back, initially hidden pane
.back {
    background-color : #fff;
    transform        : rotateY(180deg);
}


.site-item {
    box-sizing : border-box;
    margin     : 0 auto;
    max-width  : 675px;
    width      : 90%;
    height     : 100%;
    border     : 5px solid black;
    background : $mainLink;
    // background : $cardBkg;
    transition : border 0.3s ease;

    &.lnksy {
        background: #00c1ec;
    }

    &.ttui {
        background: #0088b5;
    }

    &.hmie {
        background: #fbc902;
    }

    &.boat {
        background: #72eca5;
    }

    &.stripe {
        background: #90c1a5;
    }

    &.wpfp {
        background: #dad3c1;
    }

    &.halloween {
        background: #eb9448;
    }
}

.img-container {
    @include position-absolute($left:50%);
    @include size(667px, 440px);

    margin-left      : -333px;
    transition       : all 0.3s ease;
    background-color : $cardBkg;
}

.details {
    position : absolute;
    padding  : 3rem;

    @include breakpoint(sm){
        padding : 2rem;
    }

    @include breakpoint(xs){
        padding : 1.5rem;
    }
}

.site-title {
    h1 {
        color        : #000;
        font-weight  : bold;
        font-size    : 1.25rem;
        line-height  : 50px;

        @include breakpoint(sm){
            font-size   : 1.15rem;
            line-height : 1.5;
        }
    }
}

.site-detail {
    padding-bottom : .5rem;
    line-height    : 1.10;

    @include breakpoint(sm){
        line-height : 1.25;
        font-size : 0.95rem;
    }

    a {
        font-weight     : bold;
    }
}
