// **************************************************
// **************************************************
// Portfolio Pieces
// **************************************************
// **************************************************

// .folio-header {
//     width : 100%;

//     h1 {
//         margin      : 0 auto;
//         padding     : 1rem 0;
//         text-align  : center;
//         font-weight : bold;
//         font-size   : 2rem;
//     }
// }

.portfolio-container {
    position    : relative;
    padding-top : 3rem;
    width       : 100%;
}

#portfolio-items {
    width : 100%;
}

.siteContainer {
    display : inline-flex;
    margin  : 0 auto 3rem;
    width   : 100%;
    height  : 450px;
}

// ********************
//  Flipper
// ********************

// entire container, keeps perspective
.flip-container {
    perspective : 1000;

    // flip the pane when hovered
    .no-touch &:hover .flipper, .touch .active & .flipper {
        transform : rotateY(180deg);
    }
}

// flip speed goes here
.flipper {
    position        : relative;
    transition      : 0.6s;
    transform-style : preserve-3d;
}

// hide back of pane during swap
.front, .back {
    @include position-absolute($top:0, $left:0);
    @include size(100%, 440px);

    overflow            : hidden;
    max-width           : 675px;
    backface-visibility : hidden;
}

// front pane, placed above back
.front {
    z-index  : 2;
    overflow : hidden;
}

// back, initially hidden pane
.back {
    background-color : #fff;
    transform        : rotateY(180deg);
}


.site-item {
    box-sizing : border-box;
    margin     : 0 auto;
    max-width  : 675px;
    width      : 90%;
    height     : 100%;
    border     : 5px solid $offBlack;
    background : $cardBkg;
    transition : border 0.3s ease;

    &.lnksy {
        background : lighten(desaturate($lnksyColTop,20%), 25%);
    }

    &.ttui {
        background : lighten(desaturate($ttuiColTop,20%), 25%);
    }

    &.hmie {
        background : lighten(desaturate($hmieColTop,20%), 25%);
    }

    &.boat {
        background : lighten(desaturate($boatColTop,20%), 25%);
    }

    &.stripe {
        background : lighten(desaturate($stripeColTop,20%), 25%);
    }

    &.wpfp {
        background : lighten(desaturate($wpfpColTop,20%), 25%);
    }

    &.halloween {
        background : lighten(desaturate($halloweenColTop,20%), 25%);
    }

}

.img-container {
    @include position-absolute($left:50%);
    @include size(667px, 440px);

    margin-left      : -333px;
    transition       : all 0.3s ease;
    background-color : $cardBkg;
}

.details {
    position   : absolute;
    box-sizing : border-box;
    padding    : 3rem;
    height     : 100%;
    color      : #fff;

    .lnksy & {
        // background : $lnksyColTop;
        @include background-gradient($lnksyColTop, $lnksyColBottom);
    }

    .ttui & {
        // background : $ttuiColTop;
        @include background-gradient($ttuiColTop, $ttuiColBottom, to bottom right);
    }

    .hmie & {
        // background : $hmieColTop;
        @include background-gradient($hmieColTop, $hmieColBottom, to bottom left);
    }

    .boat & {
        // background : $boatColTop;
        @include background-gradient($boatColTop, $boatColBottom);
    }

    .stripe & {
        // background : $stripeColTop;
        @include background-gradient($stripeColTop, $stripeColBottom);
    }

    .wpfp & {
        // background : $wpfpColTop;
        @include background-gradient($wpfpColTop, $wpfpColBottom);
    }

    .halloween & {
        // background : $halloweenColTop;
        @include background-gradient($halloweenColTop, $halloweenColBottom);
    }

    @include breakpoint(sm){
        padding : 2rem;
    }

    @include breakpoint(xs){
        padding : 1.5rem;
    }
}

.site-title {
    h1 {
        text-align     : center;
        text-transform : uppercase;
        font-weight    : bold;
        font-size      : 3rem;
        font-family    : $mainHeader;
        line-height    : 50px;

        @include breakpoint(sm){
            font-size   : 1.15rem;
            line-height : 1.5;
        }
    }
}

.site-detail {
    padding-bottom : 0.5rem;
    text-align     : center;
    letter-spacing : 0.025rem;
    font-weight    : 300;
    line-height    : 1.5;

    em {
        display: none;
    }

    // a {
    //     font-weight     : bold;
    // }

    @include breakpoint(sm){
        line-height : 1.25;
        font-size : 0.95rem;
    }
}

.site-url {
    @include size(175px,40px);

    display          : block;
    margin           : 1rem auto;
    border           : 2px solid white;
    background-color : rgba(255,255,255,0);
    color            : #fff;
    text-align       : center;
    text-transform   : uppercase;
    line-height      : 40px;
    transition       : background-color 0.25s ease;

    // span {
    //     position : relative;
    //     top      : -2px;
    // }

    &:hover{
        color : #fff;
        background-color: rgba(255,255,255,0.35);
    }

}

.site-inline {
    display: inline;
}

.site-company {
    margin-top: 1rem;
}
