// bower:scss
// endbower

@import "utilities/hex";
@import "utilities/reset";
@import "constants";

html, body {
    @include size(100%);

    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

body {
    @extend %no-highlight;
}

#main {
    padding-top: 58px;
}

@import "nav";
@import "portfolio";