// bower:scss
// endbower

@import "utilities/hex";
@import "utilities/_reset";
@import "constants";

html, body {
    @include size(100%);

    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

body {
    @extend %no-highlight;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.img-holder {
    height: 200px;
    width: 200px;
}

img {
    @include size(100%);
}

em {
    font-weight: bold;
}

.keyword-list {
    display: inline;
}

.keywords {
    display: inline-block;
}

.page-content {
    padding-top: 58px;
}

@import "nav";