// bower:scss
// endbower

@import "utilities/hex";
@import "utilities/reset";
@import "constants";

html, body {
    @include size(100%);

    background  : #fafafa;
    color       : #333;
    font-size   : 1rem;
    font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    @extend %no-highlight;
}

#main {
    padding : 48px 0 30px;
}

img {
    @include size(100%);
}

em {
    font-weight : bold;
}

.page {
    display: none;
}

@import "nav";
@import "portfolio";