<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Hexrays.at</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, minimum-scale = 1.0, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="site-header">
            <h1 class="name">
                <a class="home-link">Jeff Denton</a>
            </h1>
            <a href="#menu" class="menu-link">Menu</a>
            <nav id="menu" role="navigation">
                <ul class="nav-list">
                    <li class="nav-item portfolio-link"><a class="nav-link">Portfolio</a></li>
                    <li class="nav-item about-link"><a class="nav-link">About</a></li>
                </ul>
            </nav>
        </header>

        <div id="main">
            <div id="home" class="page">
                <div class="home-content">
                    <h2 class="home-subheader">Hi,</h2>
                    <h1 class="home-header">I'm <em>Jeff</em>.</h1>
                    <h2 class="home-subheader">this is my site.</h2>
                    <ul class="home-items">
                        <li class="home-item"><a class="home-link" href="#portfolio">check out some stuff I've worked on.</a></li>
                        <li class="home-item"><a class="home-link" href="#about">read about me.</a></li>
                    </ul>
                </div>
            </div>

            <div id="portfolio" class="page">
                <header class="folio-header">
                    <h1>Portfolio</h1>
                </header>

                <div class="portfolio-container">
                    <ul id="portfolio-items"></ul>
                </div>

            </div>
            <div id="about" class="page">
                <h1>Don't forget about me!</h1>
            </div>
        </div>
        <script id="siteTemplate" type="text/template">
            <div class="site-item flip-container">
                <!-- // <div class="site-title-box"></div> -->
                <div class="flipper">
                    <div class="front">
                        <div class="img-container"><img src="<%= image %>" alt="<%= title %>"></div>
                    </div>

                    <div class="back">
                        <ul class="details">
                            <li class="site-title">
                                <h1><%= title %></h1>
                            </li>
                            <li class="site-detail"><a href="<%= url %>" target="_blank">Launch Project</a></li>
                            <li class="site-detail"><em>Description:</em> <%= description %></li>
                            <li class="site-detail"><em>Responsibilities:</em> <%= responsibilities %></li>
                            <li class="site-detail"><em>Buzzwords:</em> <% _.each(keywords, function(keyobj) { %> <%= keyobj %> <% }); %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/data/portfolioData.js"></script>
        <script src="scripts/models/site.js"></script>
        <script src="scripts/collections/portfolio.js"></script>
        <script src="scripts/views/portfolioView.js"></script>
        <script src="scripts/views/siteView.js"></script>
        <script src="scripts/router/router.js"></script>
        <script src="scripts/views/appView.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
