<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Hexrays.at</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, minimum-scale = 1.0, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, minimal-ui">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <script type="text/javascript" src="//use.typekit.net/guv2sym.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="site-header">
            <h1 class="name">
                <a class="nav-link-home">Hexrays</a>
            </h1>
            <a href="#menu" class="menu-link">Menu</a>
            <nav id="menu" role="navigation">
                <ul class="nav-list">
                    <li class="nav-item portfolio-link"><a class="nav-link">Portfolio</a></li>
                    <li class="nav-item about-link"><a class="nav-link">About</a></li>
                </ul>
            </nav>
        </header>

        <div id="main">
            <div id="home" class="page">
                <div class="flex-page">
                  <div class="home-content">
                      <h1 class="home-header">Hello</h1>
                      <h2 class="home-subheader">I'm Jeff</h2>
                      <p class="home-copy copy-projects">View some <a href="#portfolio" class="home-link">projects</a></p> 
                      <p class="home-copy copy-about">Learn <a href="#about" class="home-link">about</a> me</p>
                      <p class="home-message">Let's make something awesome</p>
                  </div>
                </div>
            </div>

            <div id="portfolio" class="page">

                <div class="portfolio-container">
                    <ul id="portfolio-items"></ul>
                </div>

            </div>
            <div id="about" class="page">
                <div class="flex-page">
                    <div class="about-content">
                        <h1 class="about-header">Here's the deal.</h1>
                        <p class="about-message">After more than 10 years working in the photo industry I decided it was time for a change. I've traded my camera for a code editor and I haven't looked back. I love writing and learning more about JavaScript, playing with fancy CSS transformations and animations, sketching with a mechanical pencil or an Arduino, figuring out new tricks in Sass and PostCss, writing components with React for the client and the server, ES6 (modules, destructuring, and fat arrows. Yay!), playing with JavaScript frameworks, reading comics, and that moment when I've finally figured it out.</p>
                        <ul class="about-links">
                            <li class="about-item about-contact">Lets <a href="mailto:jeffd@hexrays.at">talk</a> about working together to make awesome things.</li>
                            <li class="about-item">Download my <a href="resume/JeffDenton_Resume.pdf" target="_blank">resume</a>.</li>
                            <li class="about-item">Visit my <a href="https://github.com/hexrays" target="_blank">github</a> account.</li>
                            <li class="about-item">Connect on <a href="https://www.linkedin.com/in/hexrays" target="_blank">Linkedin</a>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script id="siteTemplate" type="text/template">
            <div class="site-item flip-container <%= className %>">
                <!-- // <div class="site-title-box"></div> -->
                <div class="flipper">
                    <div class="front">
                        <div class="img-container"><img src="<%= image %>" alt="<%= title %>"></div>
                    </div>

                    <div class="back">
                        <ul class="details">
                            <li class="site-title">
                                <h1><%= title %></h1>
                            </li>
                            <li class="site-detail"><a class="site-url" data-site="<%= title %>" href="<%= url %>" target="_blank"><span>&rarr;</span> View Live Site</a></li>
                            <li class="site-detail"><%= description %> <%= responsibilities %></li>
                            <% if (company === 'Hexrays') { %>
                                <li class="site-detail site-company">created by Hexrays || <%= year %></li>
                            <% } else { %>
                                <li class="site-detail site-company">created at <%= company %> || <%= year %></li>
                            <% }  %>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
                            <!-- <li class="site-detail"><em>Description:</em> <%= description %></li> -->
                            <!-- <li class="site-detail"><em>Responsibilities:</em> <%= responsibilities %></li> -->


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-44581526-2', 'hexrays.at');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/bower_components/velocity/velocity.js"></script>
        <script src="/bower_components/velocity/velocity.ui.js"></script>
        <script src="/bower_components/blast-text/jquery.blast.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/data/portfolioData.js"></script>
        <script src="scripts/models/site.js"></script>
        <script src="scripts/collections/portfolio.js"></script>
        <script src="scripts/views/homeView.js"></script>
        <script src="scripts/views/portfolioView.js"></script>
        <script src="scripts/views/siteView.js"></script>
        <script src="scripts/router/router.js"></script>
        <script src="scripts/views/appView.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
